<template>
  <div class="trigger">
    <h1> CAEN DT5495 control page </h1>
    <div class="columns is-multiline is-mobile is-centered">
      <div class="column is-one-quarter" v-for="channel in channelList" :key="channel.Port">
        ID: {{channel.ID}} <br>
        Type: {{channel.Type}} <br>
        Port: {{channel.Port}} <br>
            <div>
              <label class="label">Delay:</label>
              <div class="control">
                <b-field>
                  <b-input type="number" v-model="channel.Delay"/>
                </b-field>
              </div>
            </div>
            <div>
              <label class="label">Gate:</label>
              <div class="control">
                <b-field>
                  <b-input type="number" v-model="channel.Gate"/>
                </b-field>
              </div>
            </div>
      </div>
    </div>
    <div>
      <b-checkbox v-model="selfTriggerEnabled"> Enable self triggers </b-checkbox>
    </div>
    <div>
        <b-field>
            <b-input placeholder="Number"
                v-model="triggerDivider"
                type="number"
                min="0"
                max="50000000">
            </b-input>
        </b-field>
    </div>
    <div>
      <button class="button" @click="updateTriggerGUI()">Update Trigger</button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

var config = {
  headers: { 'Content-Type': 'application/json', 'Cache-Control': 'no-cache' }
}

export default {
  name: 'Trigger',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      channelList: [],
      selfTriggerEnabled: false,
      triggerDivider: 0
    }
  },

  methods: {
    updateTriggerGUI: function () {
      // console.log(this.channelList)
      let options = {
        channelList: this.channelList,
        selfTriggerEnabled: this.selfTriggerEnabled ? 1 : 0,
        triggerDivider: this.triggerDivider
      }
      axios.post('/api/setTriggerOptions', options).then(r => {
        console.log('Trigger Update completed!')
      })
    }
  },
  mounted () {
    console.log('Hello!')
    axios.get('/api/getTriggerOptions', config).then(r => {
      this.channelList = r.data.channelList
      this.selfTriggerEnabled = parseInt(r.data.selfTriggerEnabled) ? 1 : 0
      this.triggerDivider = parseInt(r.data.triggerDivider)
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
